extends layout

block append vars
  - bodyclass = 'aboutPage'

block append header

block content

  section.about
    != typogr(contents.about['index.md'].html).typogrify()
    nav
      include contact

  section.resume
    - orderIterator = function (item) {return item.metadata.order;}

    section.background
      h2 Background
      != typogr(contents.about['background.md'].html).typogrify()


    section.skills
      h2 Skills
      != typogr(contents.about['skills.md'].html).typogrify()
      - skills = contents.about['skills.md'].metadata.skills
      ul
        each skill in skills
          li
            span.skill= skill.name
            if skill.includes
              span.includes  (!{skill.includes.join(', ')})
            if skill.note
              span.note  (!{skill.note})

    section.experience
      h2 Experience
      //- There's gotta be a cleaner way to do this...
      each org in _(contents.about.experience).sortBy( function(org) {return -org['index.md'].metadata.from;} )
        section.organization
          h3
            | !{ typogr(org['index.md'].title).typogrify() }
            span.date
              | !{ org['index.md'].metadata.from}&mdash;!{org['index.md'].metadata.to }


          if org['index.md'].html
            | !{ typogr(org['index.md'].html).typogrify() }


          each exp in _.chain(org).omit('index.md').sortBy(orderIterator).value()
            section.work(id=exp.metadata.id)
              h4!= typogr(exp.title).typogrify()
              if exp.html
                div !{ typogr(exp.html).typogrify() }
                
    section.education
      h2 Education
      - schools = _.sortBy(contents.about['education.json'].metadata.schools, 'from').reverse()
      each school in schools
        section.school
          h3
            | !{ typogr(school.name).typogrify() }
            span.date
              | !{ school.from}&mdash;!{school.to }
          
          table
            tr
              td Degree:
              td !{typogr(school.degree).typogrify()}
            tr
              td Focus:
              td !{typogr(school.focus).typogrify()}
