extends layout

block append vars
  - bodyclass = 'home'

block header
  !=contents['about.md'].html

block content
  section.work-types
    h2 What I can do
    each worktype in contents.worktypes
      section.work-type
        h3!= typogr(worktype.title).typogrify()
        | !{ typogr(worktype.html).typogrify() }

  section.experience
    h2 Experience
    //- There's gotta be a cleaner way to do this...
    each org in contents.experience
      section.organization
        h3!= typogr(org['index.md'].title).typogrify()


        if org['index.md'].html
          | !{ typogr(org['index.md'].html).typogrify() }


        each exp in _.omit(org, 'index.md')
          section.work(id=exp.metadata.id)
            h4!= typogr(exp.title).typogrify()
            if exp.html
              | !{ typogr(exp.html).typogrify() }



