extends layout

block append vars
  - activeSection = page.metadata.activeSection
  - bodyclass = page.metadata.bodyClass

block content

  section.posts
    
    p !{ typogr(page.html).typogrify() }

    - function projects(list, type) {
    - list = _.chain(list).values().pluck('index.md').compact()
    - list = list.sortBy('date').reverse()
    - list = list.value()
    each proj in list
      if !proj.metadata.draft && (!type || proj.metadata.type == type)
        article.project
          span.date
            != moment.utc(proj.date).format('MMM YYYY')
          each tag in proj.metadata.tags
            div.tag= tag

          - hasWriteup = (proj.intro.trim().length > 0)
          - githubUrl = 'https://github.com/'+proj.metadata.github
          h3
            a(href=hasWriteup ? proj.url : (proj.metadata.demo || githubUrl))= proj.title

          p
            | !{ typogr(proj.metadata.description).typogrify() }
            br
            if proj.metadata.demo
              a.demo(href=proj.metadata.demo) (check it out)

            if hasWriteup
              a.more(href=proj.url) (read more)

            if proj.metadata.github
              a.repo(href=githubUrl) (github)
    - }
    
    h2 Projects
    - projects(contents.projects, 'project')

    h2 Smaller Sketches / Experiments
    - projects(contents.projects, 'experiment')
